@{
    ViewBag.Title = "About";
}
<style>
    body {
        background: linear-gradient(45deg, hsla(185, 64%, 51%, 1) 0%, hsla(277, 74%, 24%, 1) 100%);
    }
    .card-main {
        box-shadow: 0 0 1rem #FFFFFF;
        border-radius:1rem;
    }

    .card-deck .card {
        width: 50%;
    }

    ul {
        list-style: none
    }
    .social-links{
        text-decoration:none;
        color:black;
    }
    .social-links:hover{
        text-decoration:none;
        color:black;
    }
</style>

<div class="card card-main bg-transparent text-center mt-5">
    <div class="card-header text-white">
        <h1>Felipe de Jesus Martins</h1>
    </div>
    <div class="card-body">
        <div class="card-img-top image-card">
            <img class="rounded-circle" style="width:20rem;border: 3px solid white" src="https://avatars.githubusercontent.com/u/51520435?v=4" />
        </div>
        <hr class="bg-white" />
        <div class="card-deck">
            <div class="card text-center">
                <h3 class="card-header text-white bg-dark">Resumo Pessoal</h3>
                <h4 class="mt-2 p-3">
                    Desenvolvedor C#, com excelentes habilidades de comunicação, além de um conhecimento em desenvolvimento de aplicações
                </h4>
            </div>
            <div class="card text-justify">
                <h3 class="card-header text-white bg-dark text-center">Principais Competências</h3>
                <div class="mt-3 p-3">
                    <h4>Desenvolvimento de software básico.</h4>
                    <h4>Documentação de projetos.</h4>
                    <h4>Análise de modelos de negócios.</h4>
                    <h4>Resolução de problemas.</h4>
                </div>
            </div>
        </div>
        <div class="card-deck">
            <div class="card text-center mt-3">
                <table class="table-striped">
                    <tr>
                        <th class="mt-2 p-3 card-header text-white bg-dark" colspan="2">
                            <h3>Competências e habilidades</h3>
                        </th>
                    </tr>
                    <tr>
                        <td>C#</td>
                        <td>◉◉◉◎</td>
                    </tr>
                    <tr>
                        <td>C</td>
                        <td>◉◉◎◎</td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>◉◉◎◎</td>
                    </tr>
                    <tr>
                        <td>HTML</td>
                        <td>◉◉◎◎</td>
                    </tr>
                    <tr>
                        <td>CSS</td>
                        <td>◉◉◎◎</td>
                    </tr>
                    <tr>
                        <td>JS</td>
                        <td>◉◉◎◎</td>
                    </tr>
                    <tr>
                        <td>Office</td>
                        <td>◉◉◉◉</td>
                    </tr>
                    <tr>
                        <td>Gestão de tempo</td>
                        <td>◉◉◉◉</td>
                    </tr>
                    <tr>
                        <td>Objetividade</td>
                        <td>◉◉◉◉</td>
                    </tr>
                    <tr>
                        <td>Aprendizagem contínua</td>
                        <td>◉◉◉◉</td>
                    </tr>
                    <tr>
                        <td>Proatividade</td>
                        <td>◉◉◉◉</td>
                    </tr>
                </table>
            </div>
            <div class="card mt-3 text-center">
                <h3 class="card-header text-white bg-dark text-center">Contato</h3>
                <div class="mt-3 p-3">
                    <h4>Telefone: (61) 99869-3090</h4>
                    <h4>E-mail: felipemartins1359@gmail.com</h4>
                    <h4><a class="social-links" href="https://github.com/FelipeJesusMartins">Github</a></h4>
                    <h4><a class="social-links" href="https://www.linkedin.com/in/felipe-martins-003266201/">Linkedin</a></h4>
                    <h4><a class="social-links" href="https://www.instagram.com/jesus.mkv/">Instagram</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>